.contenedor-boton-agregar{
    width: 30%;
    height: 50px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.container-button-no-results{
    width: 30%;
    display: flex;
    justify-content: start;
    align-items: center;
    height: 50px;
}
.boton-agregar{
    background: #4CAF50;
    height: 30px;
    width: 50%;
    font-weight: 700;
    font-size: 15px;
    border: 0.5px solid black;
    border-radius: 10px;
    cursor: pointer;
    transition: all 0.2s;
    color: white;
}

.boton:hover{
    background: rgb(0, 146, 0);
    border: none;
    color: white;
}