
.header{
    z-index: 1;
}
.contenedor-nav-general{
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: space-between;
    z-index: 1;

} 
.contenedor-titulo{
    width: 50%;
}

.titulo-nav{
    display: flex;
    flex-direction: flex-start;
    margin-left: 15px;
}
.contenedor-general{
    display: flex;
    width: 90%;
    justify-content: space-around;
    margin: 0;
    
}
.contenedor-contenedor-links{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    z-index: 1;
}
.boton-tablas{
    background: none;
    color: white;
    width: 70px;
    border: none;
    text-align: start;
    transition: all 0.5s;
}
.boton-tablas:hover{
   color: grey;
}

.contenedor-links{
    display: flex;
    width: 20%;
    flex-direction: column;
    align-items: flex-start;
    background: rgb(151, 0, 0);
    margin-top: 33px;
    position: absolute;
    transition: all 1s;
    z-index: 0;
}
.contenedor-links.none{
    display: flex;
    width: 20%;
    flex-direction: column;
    align-items: flex-start;
    background: rgb(151, 0, 0);
    margin-top: -200px; 
    z-index: 0;
}
.nav-li-link{
   margin-top: 5px;
   margin-bottom: 5px;
   display: flex;
   justify-content: center;
   padding-top: 5px;
   padding-bottom: 5px; 
   width: 100%;
}
.nav-li-link a{
    color: rgb(255, 255, 255);
    list-style: none;
    text-decoration: none;
    cursor: pointer;
    transition: all 0.2s;
}
.nav-li-link a:hover{
    width: 35%;
    color: rgb(68, 0, 0);
}


.contenedor-micuenta{
    width: 10%;
    display: flex;
    justify-content: flex-end;
}
.icono-micuenta{
    background: rgb(156, 2, 2);
    width: 20px;
    height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 7px;
    margin-right: 20px;
}
.icono-micuenta:hover{
    cursor: pointer;
    background-color: red;
    width: 25px;
}
.letra-micuenta{
    color: white;
    font-size: 20px;
    width: 100%;
    height:20px ;
    text-align: center;
   
}
.micuenta-desplegable{
    background: rgb(156, 2, 2);
    z-index: 1000;
    width: 200px;
    margin-top: 32px;
    position: absolute;
    padding-top: 10px;
    transition: all 1s;
    padding-bottom: 10px;
}
.micuenta-desplegable.none{
    margin-top: -100px;
    background: rgb(156, 2, 2);
    z-index: 1000;
    width: 200px;
    position: absolute;
}
.li-micuenta{
    list-style: none;
    text-align: center;
    margin-top: 5px;
    margin-bottom: 5px;
}
.li-micuenta a{
    list-style: none;
    color: white;
    text-decoration: none;
    cursor: pointer;
    transition: all 0.3s;
}

.li-micuenta a:hover{
    color: rgb(68, 0, 0);
}
