
.modal-reparations{
    width: 90%;
    max-width: 90%;
}
.div-title-modal{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.icon-close-modal{
    cursor: pointer;
    color: black;
}
.icon-close-modal:hover{
    color: red;
}
.h5-modal-add{
    color: green;
}
.contenedor-modal-body{
    padding: 10px;
}
.div-inputs{
    width: 30%;
    margin-bottom: 30px;
}
.div-inputs label{
    font-weight: 700;
}
.div-inputs.security{
    width: 30%;
}

.div-security{
    width: 100%;
    display: flex;
    margin-top: 10px;
    margin-right: 0;
    justify-content: space-between;
}
.div-inputs.pattern{
    margin: 0;
    width: 50%;
    display: flex;
    flex-direction: column;
}
.div-inputs.pattern label{
    margin: 0;
}
.div-inputs.pattern canvas{
    width: 100px;
    height: 100px;
    margin: auto;
}
.div-inputs.pin{
    margin: 0;
    width: 30%;
}
.form-group.reparations{
    width: 100%;
    display: flex;
    padding: 10px;
    justify-content: space-between;
}
.form-group{
    width: 100%;
    padding: 10px;
}
.form-group label{
    font-weight: 600;
}

.form-control.error{
    border: 1px solid red;
}
.form-control.pattern{
    border: 1px solid black;
    width: 100%;
    margin: 0;
    margin-top: 15px;
}
.form-control.pin{
    border: 1px solid black;
}
.form-control.cost{
    text-align: end;
    color: red;
}
.form-control.value{
    text-align: end;
    color: green;
}

.form-select.error{
    border: 1px solid red;
}
.form-select{
    text-align: center;
}
.input-select{
    position: absolute;
    z-index: 1000;
    border: none;
    width: 60%;
    height: 38px;
}
.icon-search{
    width: 20px;
    position: absolute;
    margin-left: 5px;
    height: 45px;
    cursor: pointer;
}

.input-search-none{
    width: 0%;
    position: absolute;
    height: 45px;
    visibility: hidden;
    transition: all 0.5s;
}

.input-search{
    position: absolute;
    outline: none;
    text-align: center;
    width: 23%;
    height: 45px;
    transition: all 0.5s;
}
.input-search::-webkit-search-cancel-button{
    display: none;
}
.input-search.brand{
    position: absolute;
    outline: none;
    width: 80.5%;
    height: 45px;
}
.input-check{
    margin-left: 7px;
}

.form-active{
    margin-left: 10px;
}
.contenedor-modal-body{
   display: flex;   
   align-items: end;
}
.form-group.reparations{
    display: flex;
    flex-wrap: wrap;
}

.contenedor-boton-modal-dentro{
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 40px;
    margin-top: 15px;
}
.contenedor-boton-modal-dentro-reparations{
    display: flex;
    justify-content: center;
    margin-right: 5px;
    height: 40px;
    width: 100%;
    margin-top: 15px;
}

.container-button-change-pass-none{
    display: none;
}
.container-button-change-pass{
  margin-top: 7px;
}
.p-errores{
    color: red;
    margin-bottom: 0px;
    margin-top: 0px;
}

.option-modal{
    cursor: pointer;
    text-align: start;
}

.option-modal:checked{
    text-align: center;
}
.option-selected{
    color: rgb(112, 112, 112);
    text-align: center;
}

.option-modal-crear{
    height: 35px;
    display: flex;
    align-items: center;
    text-align: center;
    font-size: 22px;
    border: 1px solid grey;
    border-radius: 10%;
    margin-bottom: 55px;
    cursor: pointer;
    color: green;
}

.option-modal-crear-errores{
    height: 35px;
    display: flex;
    align-items: center;
    text-align: center;
    font-size: 22px;
    border: 1px solid grey;
    border-radius: 10%;
    margin-bottom: 78px;
    cursor: pointer;
    color: green;
}

.div-container-select-button{
    display: flex;
    height: 45px;
    justify-content: flex-start;
}
.btn-edit{
    background: rgb(202, 172, 0);
    color: white;
    font-weight: 600;
    margin-right: 5px;
    width: 30%;
}

.btn-edit:hover{
    background: rgb(109, 93, 0);
    color: white;
}
.btn-cancelar{
    text-align: center;
    font-weight: 600;
    background: rgb(206, 18, 18);
    height: 40px;
    color: white;
    margin-left: 5px;
    width: 30%;
}
.btn-cancelar:hover{
    color: white;
    background: rgb(136, 16, 16);
}
.btn-success{
    width: 30%;
}
.btn-success:hover{
    background: #115837;
}

.h1-add{
    cursor: pointer;
    display: flex;
    align-items: center;
    margin: 0;
    font-weight: 700;
    color: rgb(1, 112, 1);
    
}
.h1-add:hover{
    color: rgb(0, 255, 0);
}

.information-pattern{
    margin: 0;
}
.pattern{
    margin: 0;
    margin-bottom: 10px;
    text-align: center;
}
.pattern-container-reparation{
    width: 100%;
    height: max-content;
    display: grid;
    grid-template-columns: repeat(3, 2fr);
    margin-bottom: 20px;
    column-gap: 25px;
    row-gap: 30px;
    user-select: none;
    padding: 5px;
}
.pattern-container-reparation-selected{
    width: 100%;
    height: max-content;
    display: grid;
    grid-template-columns: repeat(3, 2fr);
    margin-bottom: 20px;
    column-gap: 25px;
    padding: 5px;
    row-gap: 30px;
    border: 1px solid rgb(1, 163, 1);
    border-radius: 10px;
    user-select: none;
}
.point-container{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 10px;
}
.point-of-patterns{
    font-weight: 900;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 8px;
    height: 8px;
}
.icon-circle{
    width: 10px;
}
.icon-circle-selected{
    color: rgb(0, 207, 0);
}
.point-of-patterns-selected{
    margin: 0;
    color: rgb(0, 207, 0);
    text-align: center;
    font-weight: 900;
    font-size: 20px;
}

.dni-container{
    display: flex;
    justify-content: center;
    margin-top: 10px;
}
.dni{
    margin: 0;
}