
.modal-header{
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid gray;
}
.quantity-notifications{
    display: flex;
    align-items: center;
}
.quantity-notifications p{
    margin: 0;
}
.general-title-container{
    display: flex;
    justify-content: center;
    color: rgb(248, 100, 100);
}
.close-modal-x{
    font-size: 25px;
}
.close-modal-x:hover{
    color: red;
    cursor: pointer;
}
.no-notification-container{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}


.notifications-container{
    width: 100%;
    display: flex;
    flex-direction: column;
    max-height: 400px;
    overflow: hidden;
    overflow-y: scroll;
    padding: 10px;
}
.notification-container-rigth{
    display: flex;
    width: 100%;
    justify-content: end;
    padding-bottom: 5px;
    align-items: center;
}
.notification-container-left{
    display: flex;
    width: 100%;
    padding-bottom: 5px;
    justify-content: start;
    align-items: center;
}
.div-container-noti{
    width: 50%;
    display: flex;
    flex-direction: column;
}
.notification-send{
    background: rgba(17, 102, 17, 0.747);
    text-align: start;
    padding: 8px;
    width: 100%;
    color: white;
    font-weight: 600;
    font-size: 18px;
    border-radius: 8px 8px 0px 8px;
}
.notification-send:hover{
    cursor: pointer;
    background: rgb(0, 104, 0);
}
.notification-send-selected{
    background: rgb(0, 104, 0);
}
.notification-receive{
    background: rgba(71, 71, 71, 0.877);
    width: 100%;
    color: white;
    padding: 8px;
    font-weight: 600;
    font-size: 18px;
    border-radius: 8px 8px 8px 0px;
}
.notification-receive:hover{
    cursor: pointer;
    background: rgb(59, 59, 59);
}
.notification-receive-selected{
    background: rgb(59, 59, 59);
}
.div-info-noti-left{
    display: flex;
    margin-left: 5px;
    margin-right: 5px;
    justify-content: space-between;
}
.div-info-noti-right{
    display: flex;
    margin-right: 5px;
    justify-content: space-between;
    margin-left: 5px;
}
.info-noti{
    color: black;
    margin: 0;
    font-weight: 600;
    font-size: 15px;
}


.button-add-container{
    width: 100%;
    display: flex;
    justify-content: flex-end;
    padding-top: 20px;
    border-top: 1px solid gray;
}
.buttons-create-close-container{
    display: flex;
    width: 100%;
    justify-content: space-around;
}
.button-container{
    width: 35%;
    display: flex;
    justify-content: center;
}
.notification-selected-buttons{
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.notification-selected-title{
    font-size: 18px;
    font-weight: 700;
    margin: 0;
    color: rgb(179, 179, 0);
}
.button-add-notification{
    background: rgb(30, 151, 30);
    font-weight: 700;
}
.button-add-notification:hover{
    background: rgb(0, 189, 0);
    color: white;

}
.button-close-notification{
    background: rgb(248, 35, 35);
    font-weight: 700;
    width: 50%;
}
.button-close-notification:hover{
    background: rgb(255, 81, 81);
    color: white;

}
.buttons-edit-delete-container{
    display: flex;
    width: 40%;
    justify-content: end;
    align-items: center;
}
.notification-selected-title-container{
    display: flex;
    width: 20%;
    align-items: center;
    padding-left: 10px;
}
.notification-edit-container{
    width: 50%;
    display: flex;
    align-items: center;
}
.contact-type-select-edit{
    height: 40px;
    margin-right: 10px;
    border-radius: 8px;
    border: 2px solid rgb(248, 100, 100);
}
.notification-edit-container textarea{
    width: 90%;
    border-radius: 8px;
    display: flex;
    border: 2px solid rgb(248, 100, 100);
}
.button-action-container{
    width: 100%;
    display: flex;
    justify-content: center;
}
.button-edit{
    background: rgb(179, 179, 0);
    border: none;
    border-radius: 8px;
    width: 50%;
    height: 35px;
    transition: all 0.2s;
}
.button-delete{
    background: rgb(151, 0, 0);
    border: none;
    border-radius: 8px;
    width: 50%;
    height: 35px;
    transition: all 0.2s;
}
.button-deselected{
    background: rgb(1, 1, 165);
    border: none;
    border-radius: 8px;
    width: 50%;
    height: 35px;
    transition: all 0.2s;
}
.button-deselected:hover{
    background: rgb(35, 35, 255);
    width: 45%;
}
.button-edit:hover{
    background: yellow;
    width: 45%;
}
.button-delete:hover{
    background: red;
    width: 45%;
}

