
.general-container-print{
    width: 100%;
    display: flex;
    padding-left: 10px;
    padding-right: 10px;
}
.header-container-print{
    display: flex;
}
.title-and-adress{
    display: flex;
    flex-direction: column;
}
.repair-data-container{
    width: 85%;
}
.destiny{
    width: 15%;
}
.destiny h2{
    font-size: 25px;
}

.information-div{
    display: flex;
    flex-direction: column;
    align-items: start;
}
.information-div p{
    margin: 0;
    font-size: 12px;
}
.information-div b{
    margin: 0;
    font-size: 14px;
}
.information-div.pattern{
    grid-column: 3;
}
.pattern-container{
    width: 25%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}
.pattern-container p{
    margin: 0;
    text-align: center;
    font-weight: 900;
    font-size: 20px;
}